/* general */
* {
  box-sizing: border-box;
  position: relative;
}
body {
  min-height: 100%;
  background-color: #0b1a2f;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}
.container h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
/* page-title */
#page-title .container .title h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
#page-title .container .title {
  max-width: 80%;
  margin: auto;
  border-bottom: 3px solid #fff;
}
