* {
  box-sizing: border-box;
  position: relative;
}
body {
  min-height: 100%;
  background-color: #0b1a2f;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
}
.logo {
  flex-grow: 1;
  padding: 10px 30px;
}
.logo img {
  min-width: 120px;
  min-height: 100px;
  vertical-align: middle;
}
header nav {
  min-width: 40%;
}
.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}
.container {
  margin: auto;
  padding: 50px 0;
  max-width: 1200px;
}
.container h2 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
#banner {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(to top, #0b1a2f, #0b1a2f00 20%),
    url("../img/Banner_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .container {
  max-width: 1200px;
  padding: 0;
}
#banner .container h1 {
  font-size: 5em;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.banner-slogan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;

  font-family: "Sen", sans-serif;
}
.banner-slogan span:last-child {
  padding-left: 1em;
}
#about-us {
  width: 100%;
}

/* #about-us .container h2 {
  font-size: 3em;
  letter-spacing: 0.1em;
} */

.about-us-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about-us-content .pic {
  background-color: #fff;
  max-width: 45%;
}
.about-us-content .pic img {
  vertical-align: middle;
  width: 100%;
  padding: 25px 25px 50px 25px;
}

.about-us-intro {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  /* padding: 20px; */
  /* margin: 0 20px; */
}
.about-us-intro .title h3 {
  font-size: 1.75em;
}
.about-us-intro .content p {
  font-size: 1.25em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
.about-us-intro .more-button {
  display: flex;
  justify-content: right;
}
.about-us-intro .more-button a {
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
}

#recent-exhibitions {
  width: 100%;
}
/* #recent-exhibitions .container {
  margin: 150px auto;
  max-width: 1200px;
}
#recent-exhibitions .container h2 {
  font-size: 3em;
  letter-spacing: 0.1em;
} */
.card-link {
  text-decoration: none;
}
.exhibition-card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.exhibition-card-list .card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .pic {
  background-color: #fff;
}
.card .pic img {
  width: 100%;
  vertical-align: middle;
  padding: 15px 15px 30px 15px;
}
.exhibition-intro {
  text-align: center;
  color: #fff;
}
.exhibition-intro .title {
  font-size: 1.5em;
  margin: 10px 0;
  letter-spacing: 0.1em;
}
.exhibition-intro .date {
  font-size: 1.25em;
  letter-spacing: 0.1em;
}
#news {
  width: 100%;
}
/* #news .container {
  max-width: 1200px;
  margin: 50px auto;
}
#news .container h2 {
  font-size: 3em;
  letter-spacing: 0.1em;
} */
.news-content {
  width: 100%;
  border-collapse: collapse;
}
.news-content th,
td {
  font-size: 1.25em;
  padding: 50px 20px;
  letter-spacing: 0.1em;
}
.news-content td:last-of-type {
  text-align: center;
}
.news-content td .more-button a {
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.news-content tr {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
#contact-us {
  width: 100%;
}
/* #contact-us .container {
  max-width: 1200px;
  margin: 150px auto;
}
#contact-us .container h2 {
  font-size: 3em;
} */
.contact-us-form form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
.contact-us-form .input {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contact-us-form form .input-textarea {
  align-items: start;
}
.input label {
  /* flex-grow: 1; */
  width: 150px;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}
.input input {
  height: 40px;
}
.input input,
textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  font-size: 1.25em;
}
.submit-button {
  align-self: flex-end;
}
.submit-button input {
  background-color: #c89951;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
}
