/* header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
  transition: all 0.5s ease;
}
.logo {
  flex-grow: 1;
  padding: 10px 30px;
}
.logo img {
  min-width: 120px;
  min-height: 100px;
  vertical-align: middle;
}
header nav {
  min-width: 40%;
}
.nav-list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
/* banner */

#banner {
  width: 100%;
  height: 100vh;
  background-image: url("/img/Banner_img_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: changeBackground;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
@keyframes changeBackground {
  0% {
    background-image: url("/img/Banner_img_1.png");
  }
  20% {
    background-image: url("/img/Banner_img_2.png");
  }
  40% {
    background-image: url("/img/Banner_img_3.jpg");
  }
  60% {
    background-image: url("/img/Banner_img_4.png");
  }
  80% {
    background-image: url("/img/Banner_img_5.jpg");
  }
  100% {
    background-image: url("/img/Banner_img_1.png");
  }
}
.linear-gradient {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #0b1a2f, #0b1a2f00 20%);
}
#banner .container {
  padding: 0;
}
#banner .container h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.banner-slogan {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Sen", sans-serif;
}
.banner-slogan span:last-child {
  padding-left: 1rem;
}
@media (max-width: 1024px) {
  #banner .container h1 {
    font-size: clamp(2rem, 7.8125vw, 5rem);
  }
}
/* about-us */
#about-us {
  width: 100%;
}
.about-us-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
}

.about-us-content .pic {
  background-color: #fff;
  max-width: 540px;
}
.about-us-content .pic img {
  vertical-align: middle;
  width: 100%;
  padding: 25px 25px 50px 25px;
}
.about-us-intro {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.about-us-intro .title h3 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}
.about-us-intro .content p {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
}
.about-us-intro .more-button {
  display: flex;
  justify-content: right;
}
.button a {
  font-family: "Sen";
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us-content .pic {
    max-width: 360px;
    margin: 0;
  }
  .about-us-intro {
    max-width: 60%;
    margin: 0;
  }
}
/* recent-exhibitions */
#recent-exhibitions {
  width: 100%;
}
.card-link {
  text-decoration: none;
}
/* .exhibition-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
} */
.exhibition-card-list .card {
  display: flex;
  flex-direction: column;
}
.card .pic {
  background-color: #fff;
}
.card .pic img {
  width: 100%;
  vertical-align: middle;
  padding: 15px 15px 30px 15px;
}
.exhibition-intro {
  text-align: center;
  color: #fff;
}
.exhibition-intro .title {
  font-size: 1.5rem;
  margin: 10px 0;
  letter-spacing: 0.1rem;
}
.exhibition-intro .date {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

/* new */
#news {
  width: 100%;
}
.news-content {
  width: 100%;
  border-collapse: collapse;
}
.news-content th,
td {
  font-size: 1.25rem;
  padding: 50px 20px;
  letter-spacing: 0.1rem;
}
.news-content td:last-of-type {
  text-align: center;
}
.news-content tr {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
/* contact-us */
#contact-us {
  width: 100%;
}
.contact-us-form form {
  display: flex;
  flex-direction: column;
}
.contact-us-form .input {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contact-us-form form .input-textarea {
  align-items: start;
}
.input label {
  width: 150px;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
.input input {
  height: 40px;
}
.input input,
textarea {
  width: 100%;
  resize: none;
  border-radius: 5px;
  font-size: 1.25rem;
}
.submit-button {
  align-self: flex-end;
}
.submit-button input {
  background-color: #c89951;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .contact-us-form .input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }
}
