#news {
  width: 100%;
}
.news-content {
  width: 100%;
  border-collapse: collapse;
}
.news-content th,
td {
  font-size: 1.25rem;
  padding: 50px 20px;
  text-align: left;
  letter-spacing: 0.1rem;
}
.news-content td:last-of-type {
  text-align: center;
}
.more-button a {
  font-family: "Sen";
  border-radius: 5px;
  background-color: #c89951;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.news-content tr {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
