* {
  box-sizing: border-box;
  position: relative;
}
body {
  min-height: 100%;
  background-color: #0b1a2f;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}
#page-title .container .title h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.1em;
}
#page-title .container .title {
  border-bottom: 3px solid #fff;
  max-width: 80%;
  margin: auto;
}
#outstanding {
  width: 100%;
}
.outstanding-title h2 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
.photographer-3-list {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.photographer-2-list {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.photographer-card .pic {
  background-color: #fff;
}
.photographer-card .pic img {
  vertical-align: middle;
  width: 100%;
  padding: 15px 15px 30px 15px;
}
.photographer-card a {
  text-decoration: none;
}
.name-content {
  color: #fff;
}
.name-content h3 {
  font-size: 1.75em;
  padding: 10px 0;
  margin: 0;
  letter-spacing: 0.1em;
}
.name-content p {
  font-size: 1.25em;
  margin: 0;
  padding: 10px 0;
  letter-spacing: 0.1em;
}
#newbie {
  width: 100%;
}
.newbie-title h2 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .photographer-3-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .photographer-2-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}
