* {
  box-sizing: border-box;
  position: relative;
}
body {
  min-height: 100%;
  background-color: #0b1a2f;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
#page-title .container .title h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.1em;
}
#page-title .container .title {
  max-width: 80%;
  margin: auto;
  border-bottom: 3px solid #fff;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 0;
}
#photographer-info {
  width: 100%;
}
.phtographer-info-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photographer-img {
  padding: 0 30px;
}
.photographer-img .pic {
  width: 400px;
  background-color: #fff;
}
.photographer-img .pic img {
  width: 100%;
  vertical-align: middle;
  padding: 15px 15px 30px 15px;
}
.photographer-info-detail {
  max-width: 50%;
  padding: 30px;
}
h2 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
.photographer-info-detail .photographer-name {
  margin: 20px 0;
}
h3 {
  font-size: 1.75em;
  letter-spacing: 0.1em;
}
p {
  font-size: 1.25em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}
.exp-title {
  margin: 20px 0;
}
.exp-para {
  margin: 20px 0;
}
.breif-intro-title {
  margin: 20px 0;
}

.brief-intro-para {
  margin: 20px 0;
}
#achievement {
  width: 100%;
}
#portifolio {
  width: 100%;
}
.portfolio-content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.achievement-list {
  display: grid;
  justify-content: center;
}

.portifolio-list {
  display: flex;
  justify-content: space-between;
}
.portifolio-card .pic {
  background-color: #fff;
  width: 350px;
}
.portifolio-card .pic img {
  width: 100%;
  vertical-align: middle;
  padding: 15px 15px 30px 15px;
}
